<configuration scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.quantumretail" level="TRACE"/>

    <!-- these can be helpful for debugging, but are usually too verbose -->
    <logger name="com.quantumretail.rcq.predictor.LoadAwareLoadPredictor" level="DEBUG"/>
    <logger name="com.quantumretail.resourcemon.SimplePredictiveResourceMonitor" level="DEBUG"/>
    <logger name="com.quantumretail.constraint.SimplePredictiveConstraintStrategy" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>